body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
}

#header {
    display: flex;
    justify-content: center;
    font-size: 50px;
    color: white;
    background: linear-gradient(to right, rgb(182, 244, 146), rgb(51, 139, 147));
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 30px;
}

.pageContent {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 8fr;
}

#pageTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    grid-area: 1;
    margin: 0;
    /* background-color: lightgray; */
}

#addTodoContent {
    grid-area: 2;
    display: flex;
    align-content: center;
    height: 50%;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-right: 10%;
    margin-left: 10%;
    padding: 5%;
    border: solid;
    border-radius: 20px;
    background-color: lightgray;
}

#todoHeading {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr 1fr;
    grid-area: 1;
    grid-column: 2;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 0px;
    font-size: 20px;
    color: white;
    background: linear-gradient(to top, #09203f 0%, #537895 100%);
    padding-left: 10px;
    padding-right: 10px;

}

#addTodoForm>input {
    width: 200px;
}


#priorityInput {
    width: 200px;
    display: block;
    clear: both;
}


#submitButton {
    margin-top: 20px;
    background-color: blue;
    color: white;
    border: 0;
    font-size: 20px;
    padding: 2.5%;
    border-radius: 10px;
}

#submitButton:hover {
    background-color: darkblue;
}


#todos {
    margin-top: 10px;
}

#todos>div {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr 1fr;
    margin-left: 20px;
    /* margin-right: 20px; */
    padding-left: 10px;
    /* padding-right: 10px; */
    margin-bottom: 20px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-style: solid;
    border-color: lightgray;
    font-size: 25px;
}